
    <div class="container-grid">
      <a href=""><img width="500px" src="assets/img/MUSHASI GAMER.png" alt="Logo do site"></a>
      <nav class="menu">
        <a href="">Voltar</a>
      </nav>
      <div class="body">
  

   <form action="">

    <h3>Faça seu login</h3>
    <input type="text" name="email" placeholder="Digite seu e-mail">
    <input type="password" name="senha" placeholder="Digite sua senha">
    <input type="submit" name="acao" value="Entrar">
    <div class="cadastro-flex">
    <a class="cadastre-se" href="">cadastre-se</a>
    <a class="cadastre-se" href="">esqueci a senha</a>
    </div>

   </form>
   <p id="mensagem" *ngIf=" mensagem != ''">{{mensagem}}</p>
</div>
